.subTitle {
  font-family: 'Poppins';
}

.button {
  min-width: 165px;
  width: 250px;
  height: 50px;
  font-size: 14px;
  font-family: 'Poppins';
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: white;
  border: 1px solid black;
  margin: -15px auto 25px;
}

.button:hover {
  background-color: black;
  color: white;
}
